nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}



.column{
  flex: 33.3%;
  padding: 5px;
}

.row{
  display: flex
}


.chaps{
  position: fixed;
  bottom: 0px;
  left: 500px;
  width: 300px;
  border: 3px solid #73AD21;
}

main{
  overflow-x: auto;
  text-align: right;
}

main img
{
  max-width 100%;
}

main .form-control
{
  display: inline-block;
  width: auto;
}

.chartContainer{
    width: 50%;
    height: 50%;
    text-align: center;
}

canvas{
    width: 60% !important;
    height: 700px !important;
    margin: 0 auto;
}
